<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/auth.css">

<% if (error) { %>
  <div class="notification-container">
    <div class="notification">
      <div class="icon">!</div>
      <div class="message">
        <%=error %>
      </div>
      <div class="close-btn">×</div>
      <div class="timer"></div>
    </div>
  </div>
  <% } %>
    <% if (success) { %>
      <div class="notification-container">
        <div class="notification">
          <div class="iconSuccess">*</div>
          <div class="message">
            <%= success %>
          </div>
          <d<!--    
 
            <h1><%= title %></h1>
             <table border="1">
                 <tr>
                     <th>ID</th>
                     <th>Tiêu đề</th>
                     <th>Mô tả</th>
                     <th>Thời gian bắt đầu</th>
                     <th>Thời gian kết thúc</th>
                     <th>Màu</th>
                 </tr>
                 <% events.forEach(event => { %> <!-- lặp qua tất cả các events -->
                     <tr>
                         <td><%= event._id %></td> 
                         <td><%= event.title %></td> <!-- lấy dữ liệu title của event -->
                         <td><%= event.description %></td>
                         <td><%= event.startTime.toLocaleString() %></td>
                         <td><%= event.endTime.toLocaleString() %></td>
                     </tr>
                 <% }) %>
             </table>
             <a href="/">Quay lại trang chủ</a>
         
         
              -->iv class="close-btn">×</div>
          <div class="timerSuccess"></div>
        </div>
      </div>
      <% } %>

        <div class="login_container">
          <div class="login_image">
            <img src="/images/backgroud_login.webp" alt="">
          </div>
          <div class="login-card">
            <div class="logo-login-card">
              <div class="logo">
                <div class="logo-icon">
                  <img src="/images/logo.png" height="45" width="45" alt="logo">
                </div>
                <span class="logo-text">Calender Time</span>
              </div>
            </div>

            <h2>Log in</h2>
            <div class="loginLink">

              <!-- Nút đăng nhập bằng Google -->
              <button class="btn social-login google-login">
                <a href="/auth/google" class="nav-link">
                  <i class="fab fa-google me-2"></i> Đăng nhập bằng Google
                </a>
              </button>

              <!-- Nút đăng nhập bằng GitHub -->
              <button class="btn social-login github-login">
                <a href="/auth/github" class="nav-link">
                  <i class="fab fa-github me-2"></i> Đăng nhập bằng GitHub
                </a>
              </button>

            </div>
            <div class="or-divider">OR</div>

            <form action="/auth/login" method="post" id="formLogin">
              <div class="form-group ">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id='loginEmail' placeholder="Enter email"
                  aria-describedby="emailHelpId" required>
                <small id="emailHelpId" class="form-text text-muted"></small>
              </div>
              <div class="form-group mt-3 mb-5">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Enter password" minlength="1"
                  aria-describedby="passwordHelpId" required>
                <small id="passwordHelpId" class="form-text text-muted"></small>
              </div>
              <button type="submit" class="btn email-btn">Continue with email</button>
            </form>
            <div class="signup-text">
              Don't have an account? <a href="/auth/register">Sign up</a>
            </div>

          </div>

        </div>

        <script src="/js/login.js"></script>