<link rel="stylesheet" href="/css/header.css">
 <!-- Main Content -->
 <div class="container mt-3">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
            <div class="mb-3">
                <button id="calendarBtn" class="btn sidebar-btn active" onclick="changeTab('calendar')">Calendar</button>
                <button id="todolistBtn" class="btn sidebar-btn" onclick="changeTab('todolist')">Todolist</button>
                <button id="planBtn" class="btn sidebar-btn" onclick="changeTab('plan')">Plan</button>
                <button id="profileBtn" class="btn sidebar-btn" onclick="changeTab('profile')">Profile</button>
                <%- include('logout') %>
                </div>
        </div>
        
        <!-- Content Area -->
        <div class="col-md-9">
            <div class="content-area">
                <!-- Calendar Tab -->
                <div id="calendar-content" class="tab-contentList">
                    <%- include('calendar') %>
                </div>
                
                <!-- Todolist Tab -->
                <div id="todolist-content" class="tab-contentList d-none">
                    <%- include('todolist') %>
                </div>
                
                <!-- Plan Tab -->
                <div id="plan-content" class="tab-contentList d-none">
                    <%- include('plan') %>
                </div>
                
                <!-- Profile Tab -->
                <div id="profile-content" class="tab-contentList d-none">
                    <%- include('profile') %>
                </div>
              
            </div>
        </div>
    </div>
</div>
